.day_weather__box_container {
  background-color: #2780e3;
  border-color: #2780e3;
  height : 190px;
}

.day_weather__box_text {
  color: #fff;
}

.day_weather__box_day_name {
  height: 30px;
  font-weight: 500;
}

.day_weather__box_state {
  height: 25px;
  margin: {
    left: 20px;
  }
}

.day_weather__box_temperature_container {
  width: 150px;
  margin: {
    top:25px;
    left: 50px;
    bottom: 25px;
  }
}
